<div class="table">
  <div class="table-header">
    <ng-container *ngFor="let column of columns">
      <div class="header-item">{{ column.label }}</div>
    </ng-container>
  </div>
  <div class="table-body">
    <ng-container *ngFor="let _ of [].constructor(dataSource.length); let rowIndex = index">
      <div class="table-row" [attr.data-row-index]="rowIndex">
        <ng-container *ngFor="let column of columns">
          <div class="table-cell" 
               [ngClass]="{'first-column': column.prop === 'firstName'}"
               [attr.data-row-index]="rowIndex">
            {{ dataSource[rowIndex][column.prop] }}
          </div>
        </ng-container>
      </div>
    </ng-container>
  </div>
</div>