<div class="table">
  <div class="table-header">
    <div class="header-item">First Name</div>
    <div class="header-item">Last Name</div>
    <div class="header-item">Email</div>
    <div class="header-item">Phone</div>
    <div class="header-item">Date of Birth</div>
    <div class="header-item">Address</div>
    <div class="header-item">Marital Status</div>
    <div class="header-item">Designation</div>
  </div>
  <div class="table-body">
    <div class="table-row" *ngFor="let item of dataSource">
      <div class="table-cell">{{ item.firstName }}</div>
      <div class="table-cell">{{ item.lastName }}</div>
      <div class="table-cell">{{ item.email }}</div>
      <div class="table-cell">{{ item.phone }}</div>
      <div class="table-cell">{{ item.dob }}</div>
      <div class="table-cell">{{ item.address }}</div>
      <div class="table-cell">{{ item.maritalStatus }}</div>
      <div class="table-cell">{{ item.designation }}</div>
    </div>
  </div>
</div>