.table {
    display: flex;
    flex-direction: column;
    width: 800px;
    border: 1px solid #ccc;
    height: 400px;
    overflow: scroll;
  }
    
  .table-header {
    display: flex;
    background-color: #f4f4f4;
    font-weight: bold;
    position: sticky;
    top: 0 !important;
    z-index: 2;
  }
      
  .header-item,
  .table-cell {
    flex: 1;
    padding: 10px;
    border: 1px solid #ccc;
    text-align: center;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    min-width: 100px;
  }
      
  .table-body {
    display: flex;
    flex-direction: column;
  }
      
  .table-row {
    display: flex;
  }
      
  .table-row:hover,
  .table-row:hover .table-cell {
    background-color: #f1f1f1;
  }
  
  .table-cell:hover {
    background-color: #e6e6e6 !important; 
  }
  
  .header-item:first-child,
  .table-cell:first-child {
    position: sticky;
    left: 0;
    top: 0;
    background-color: #fff; 
  }
  
  .table-header .header-item:first-child {
    z-index: 4; 
    background-color: #f4f4f4;
  }
  
  .table-row:hover .table-cell:first-child {
    background-color: #f1f1f1;
  }